body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  position: relative;
  box-shadow: 1px 1px  15px grey;
  width: 30%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5%;
}

.plan {
  display: flex;
  border-bottom: rgba(128, 128, 128, 0.568) 1px solid;
  font-weight: 100;
  gap: 65%;
  padding-left: 3%;
}

#Input {
  border: none;
  font-style: italic;
  outline: none;
  border-bottom: rgba(128, 128, 128, 0.568) solid 1px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 3%;
  width: 96.5%;
}

.icn1 {
  width: 15px;
  height: 15px;
  margin-top: 20px;
}

.icn2 {
  border: red solid 1px;
  width: 100px;
  height: 100px;
}

.icn3 {
  position: absolute;
  width: 17px;
  height: 18px;
  right: 10px;
  border: red solid 1px;
}

.description {
  display: flex;
  align-items: center;
  border-bottom: rgba(128, 128, 128, 0.568) solid 1px;
  margin-left: -11%;
  height: 60px;
}

.description:hover {
  background-color: rgba(128, 128, 128, 0.247);
}

#list {
  margin-top: 0;
}

.check {
  display: flex;
  width: 100%;
}

.checked {
  margin-left: 3%;
  margin-right: 5%;
  outline: none;
}

.trashImg {
  display: none;
}

.dots {
  display: flex;
  flex-direction: column;
  width: 30px;
  padding-top: 15px;
}

.dots img {
  align-items: center;
  width: 20px;
}

.checking {
  width: 95%;
}

.delete_btn {
  border: none;
  width: 100%;
  height: 50px;
  margin-top: -7%;
  background-color: transparent;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.delete_btn:hover {
  background-color: gray;
}
